<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <div class="fieldWrapper">
        <label> Name:</label> {{ car_wash_form.name }}
    </div>
    <div class="fieldWrapper">
        <label> Location:</label> {{ car_wash_form.location }}
    </div>
    <div class="fieldWrapper">
        <label> Cabin Numbers:</label> {{ car_wash_form.cabins }}
    </div>
    {% for type in car_types %}
        <div class="fieldWrapper">
            <label> {{ type }}</label> {{ price_form.price }}
        </div>
     {% endfor %}

    <input type="submit" value="Submit">
</form>
</body>
</html>